xmla/sap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<w:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:s0="urn:schemas-microsoft-com:xml-analysis" targetNamespace="urn:schemas-microsoft-com:xml-analysis" xmlns:w="http://schemas.xmlsoap.org/wsdl/">
 <w:types>
  <s:schema targetNamespace="urn:schemas-microsoft-com:xml-analysis" elementFormDefault="qualified" attributeFormDefault="qualified">
   <s:element name="Discover">
    <s:complexType>
     <s:sequence>
      <s:element name="RequestType" type="s:string" nillable="true"/>
       <s:element name="Restrictions" nillable="true">
        <s:complexType>
         <s:sequence>
          <s:element name="RestrictionList">
           <s:complexType>
            <s:sequence>
             <s:element name="CATALOG_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="32"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="CUBE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="70"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="CUBE_TYPE" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="70"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="DIMENSION_UNIQUE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="32"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="HIERARCHY_UNIQUE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="65"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="LEVEL_UNIQUE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="108"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="LEVEL_NUMBER" type="s:unsignedInt" nillable="true"/>
             <s:element name="MEMBER_UNIQUE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="143"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="TREE_OP" type="s:unsignedInt" nillable="true"/>
             <s:element name="MEASURE_UNIQUE_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="143"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
             <s:element name="PROPERTY_NAME" nillable="true">
              <s:simpleType>
               <s:restriction base="s:string">
                <s:maxLength value="30"/>
               </s:restriction>
              </s:simpleType>
             </s:element>
            </s:sequence>
           </s:complexType>
          </s:element>
         </s:sequence>
        </s:complexType>
       </s:element>
       <s:element name="Properties" nillable="true">
        <s:complexType>
         <s:complexContent>
          <s:extension base="s0:PropertiesType">
           <s:sequence>
            <s:element name="PropertyList">
             <s:complexType>
              <s:sequence>
               <s:element name="AxisFormat" type="s:string" nillable="true"/>
               <s:element name="BeginRange" nillable="true">
                <s:simpleType>
                 <s:restriction base="s:int">
                  <s:totalDigits value="10"/>
                 </s:restriction>
                </s:simpleType>
               </s:element>
               <s:element name="EndRange" nillable="true">
                <s:simpleType>
                 <s:restriction base="s:int">
                  <s:totalDigits value="10"/>
                 </s:restriction>
                </s:simpleType>
               </s:element>
               <s:element name="Catalog" type="s:string" nillable="true"/>
               <s:element name="Cube" type="s:string" nillable="true"/>
               <s:element name="Content" type="s:string" nillable="true"/>
               <s:element name="DataSourceInfo" type="s:string" nillable="true"/>
               <s:element name="Format" type="s:string" nillable="true"/>
               <s:element name="LocalIdentifier" type="s:string" nillable="true"/>
               <s:element name="MDXSupport" type="s:string" nillable="true"/>
               <s:element name="ProviderName" type="s:string" nillable="true"/>
               <s:element name="ProviderVersion" type="s:string" nillable="true"/>
               <s:element name="StateSupport" type="s:string" nillable="true"/>
               <s:element name="Timeout" nillable="true">
                <s:simpleType>
                 <s:restriction base="s:int">
                  <s:totalDigits value="10"/>
                 </s:restriction>
                </s:simpleType>
               </s:element>
              </s:sequence>
             </s:complexType>
            </s:element>
           </s:sequence>
          </s:extension>
         </s:complexContent>
        </s:complexType>
       </s:element>
      </s:sequence>
     </s:complexType>
    </s:element>
    <s:element name="DiscoverResponse">
     <s:complexType>
      <s:sequence>
       <s:element name="return" minOccurs="0">
        <s:complexType>
         <s:sequence>
          <s:any/>
         </s:sequence>
        </s:complexType>
       </s:element>
      </s:sequence>
     </s:complexType>
    </s:element>
    <s:element name="Execute">
     <s:complexType>
      <s:sequence>
       <s:element name="Command" nillable="true">
        <s:complexType>
         <s:sequence>
          <s:element name="Statement" type="s:string" nillable="true"/>
         </s:sequence>
        </s:complexType>
       </s:element>
       <s:element name="Properties" type="s0:PropertiesType"/>
      </s:sequence>
     </s:complexType>
    </s:element>
    <s:element name="ExecuteResponse">
     <s:complexType>
      <s:sequence>
       <s:element name="return" minOccurs="0">
        <s:complexType>
         <s:sequence>
          <s:any/>
         </s:sequence>
        </s:complexType>
       </s:element>
      </s:sequence>
     </s:complexType>
    </s:element>
    <s:complexType name="PropertiesType"/>
   </s:schema>
  </w:types>
  <w:message name="DiscoverSoapIn">
    <w:part name="parameters" element="s0:Discover"/>
  </w:message>
  <w:message name="DiscoverSoapOut">
    <w:part name="parameters" element="s0:DiscoverResponse"/>
  </w:message>
  <w:message name="ExecuteSoapIn">
    <w:part name="parameters" element="s0:Execute"/>
  </w:message>
  <w:message name="ExecuteSoapOut">
    <w:part name="parameters" element="s0:ExecuteResponse"/>
  </w:message>
  <w:portType name="MsXmlAnalysisSoap">
    <w:operation name="Discover">
      <w:input message="s0:DiscoverSoapIn"/>
      <w:output message="s0:DiscoverSoapOut"/>
    </w:operation>
    <w:operation name="Execute">
      <w:input message="s0:ExecuteSoapIn"/>
      <w:output message="s0:ExecuteSoapOut"/>
    </w:operation>
  </w:portType>
  <w:binding name="MsXmlAnalysisSoap" type="s0:MsXmlAnalysisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <w:operation name="Discover">
      <soap:operation soapAction="urn:schemas-microsoft-com:xml-analysis:Discover" style="document"/>
      <w:input>
        <soap:body use="literal"/>
      </w:input>
      <w:output>
        <soap:body use="literal"/>
      </w:output>
    </w:operation>
    <w:operation name="Execute">
      <soap:operation soapAction="urn:schemas-microsoft-com:xml-analysis:Execute" style="document"/>
      <w:input>
        <soap:body use="literal"/>
      </w:input>
      <w:output>
        <soap:body use="literal"/>
      </w:output>
    </w:operation>
  </w:binding>
  <w:service name="MsXmlAnalysis">
    <w:port name="MsXmlAnalysisSoap" binding="s0:MsXmlAnalysisSoap">
      <soap:address location="http://yourhost/sap/bw/xml/soap/xmla"/>
    </w:port>
  </w:service>
</w:definitions>